:host {
  display: block;
  height: 100vh;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  padding: 20px;
  height: calc(100% - 64px);
  box-sizing: border-box;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
  
  .dark-theme & {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

// Theme styles
.dark-theme {
  background-color: #303030;
  color: #ffffff;

  mat-sidenav {
    background-color: #424242;
  }

  mat-toolbar {
    background-color: #212121;
  }

  .mat-divider {
    border-color: rgba(255, 255, 255, 0.12);
  }
}